<a href="https://colab.research.google.com/github/razeeniqbal/master-AdvanceAIPractice/blob/main/Data_Preprocessing_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# load and summarize the dataset
from pandas import read_csv
# load the dataset
dataset = read_csv('pima-indians-diabetes.csv', header=None)
# summarize the dataset
print(dataset.describe())

                0           1           2           3           4           5  \
count  768.000000  768.000000  768.000000  768.000000  768.000000  768.000000
mean     3.845052  120.894531   69.105469   20.536458   79.799479   31.992578
std      3.369578   31.972618   19.355807   15.952218  115.244002    7.884160
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      1.000000   99.000000   62.000000    0.000000    0.000000   27.300000
50%      3.000000  117.000000   72.000000   23.000000   30.500000   32.000000
75%      6.000000  140.250000   80.000000   32.000000  127.250000   36.600000
max     17.000000  199.000000  122.000000   99.000000  846.000000   67.100000

                6           7           8
count  768.000000  768.000000  768.000000
mean     0.471876   33.240885    0.348958
std      0.331329   11.760232    0.476951
min      0.078000   21.000000    0.000000
25%      0.243750   24.000000    0.000000
50%      0.372500   29.000000    0.000000
75%      0.626250   41.000000    1.000000
max      2.420000   81.000000    1.000000

In [ ]:
# count the number of missing values for each column
num_missing = (dataset[[1,2,3,4,5,6,7,8]] == 0).sum()
# report the results
print(num_missing)

In [7]:
# verifying the data types of the columns
from pandas import read_csv
# load the dataset
dataset = read_csv('pima-indians-diabetes.csv', header=None)
print(dataset.dtypes)

0      int64
1      int64
2      int64
3      int64
4      int64
5    float64
6    float64
7      int64
8      int64
dtype: object
     0    1   2   3    4     5      6   7  8
0    6  148  72  35    0  33.6  0.627  50  1
1    1   85  66  29    0  26.6  0.351  31  0
2    8  183  64   0    0  23.3  0.672  32  1
3    1   89  66  23   94  28.1  0.167  21  0
4    0  137  40  35  168  43.1  2.288  33  1
5    5  116  74   0    0  25.6  0.201  30  0
6    3   78  50  32   88  31.0  0.248  26  1
7   10  115   0   0    0  35.3  0.134  29  0
8    2  197  70  45  543  30.5  0.158  53  1
9    8  125  96   0    0   0.0  0.232  54  1
10   4  110  92   0    0  37.6  0.191  30  0
11  10  168  74   0    0  38.0  0.537  34  1
12  10  139  80   0    0  27.1  1.441  57  0
13   1  189  60  23  846  30.1  0.398  59  1
14   5  166  72  19  175  25.8  0.587  51  1
15   7  100   0   0    0  30.0  0.484  32  1
16   0  118  84  47  230  45.8  0.551  31  1
17   7  107  74   0    0  29.6  0.254  31  1
18   1  103  30  38   83  43.3  0.183  33  0
19   1  115  70  30   96  34.6  0.529  32  1
(768, 9)

In [9]:
from numpy import nan
# replace '0' values with 'nan'
dataset[[1,2,3,4,5]] = dataset[[1,2,3,4,5]].replace(0, nan)
# count the number of nan values in each column
print(dataset.isnull().sum())
print(dataset.head(20))
print(dataset.shape)

0      0
1      5
2     35
3    227
4    374
5     11
6      0
7      0
8      0
dtype: int64
     0      1     2     3      4     5      6   7  8
0    6  148.0  72.0  35.0    NaN  33.6  0.627  50  1
1    1   85.0  66.0  29.0    NaN  26.6  0.351  31  0
2    8  183.0  64.0   NaN    NaN  23.3  0.672  32  1
3    1   89.0  66.0  23.0   94.0  28.1  0.167  21  0
4    0  137.0  40.0  35.0  168.0  43.1  2.288  33  1
5    5  116.0  74.0   NaN    NaN  25.6  0.201  30  0
6    3   78.0  50.0  32.0   88.0  31.0  0.248  26  1
7   10  115.0   NaN   NaN    NaN  35.3  0.134  29  0
8    2  197.0  70.0  45.0  543.0  30.5  0.158  53  1
9    8  125.0  96.0   NaN    NaN   NaN  0.232  54  1
10   4  110.0  92.0   NaN    NaN  37.6  0.191  30  0
11  10  168.0  74.0   NaN    NaN  38.0  0.537  34  1
12  10  139.0  80.0   NaN    NaN  27.1  1.441  57  0
13   1  189.0  60.0  23.0  846.0  30.1  0.398  59  1
14   5  166.0  72.0  19.0  175.0  25.8  0.587  51  1
15   7  100.0   NaN   NaN    NaN  30.0  0.484  32  1
16   0  118.0  84.0  47.0  230.0  45.8  0.551  31  1
17   7  107.0  74.0   NaN    NaN  29.6  0.254  31  1
18   1  103.0  30.0  38.0   83.0  43.3  0.183  33  0
19   1  115.0  70.0  30.0   96.0  34.6  0.529  32  1
(768, 9)

In [10]:
# drop rows with missing values
dataset.dropna(inplace=True)
# summarize the shape of the data with missing rows removed
print(dataset.shape)

(392, 9)

In [12]:
dataset = read_csv('pima-indians-diabetes.csv', header=None)
# mark zero values as missing or NaN
dataset[[1,2,3,4,5]] = dataset[[1,2,3,4,5]].replace(0, nan)
# fill missing values with mean column values
dataset.fillna(dataset.mean(), inplace=True)
# count the number of NaN values in each column
print(dataset.isnull().sum())
print(dataset.head(20))

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
dtype: int64
     0      1          2         3           4          5      6   7  8
0    6  148.0  72.000000  35.00000  155.548223  33.600000  0.627  50  1
1    1   85.0  66.000000  29.00000  155.548223  26.600000  0.351  31  0
2    8  183.0  64.000000  29.15342  155.548223  23.300000  0.672  32  1
3    1   89.0  66.000000  23.00000   94.000000  28.100000  0.167  21  0
4    0  137.0  40.000000  35.00000  168.000000  43.100000  2.288  33  1
5    5  116.0  74.000000  29.15342  155.548223  25.600000  0.201  30  0
6    3   78.0  50.000000  32.00000   88.000000  31.000000  0.248  26  1
7   10  115.0  72.405184  29.15342  155.548223  35.300000  0.134  29  0
8    2  197.0  70.000000  45.00000  543.000000  30.500000  0.158  53  1
9    8  125.0  96.000000  29.15342  155.548223  32.457464  0.232  54  1
10   4  110.0  92.000000  29.15342  155.548223  37.600000  0.191  30  0
11  10  168.0  74.000000  29.15342  155.548223  38.000000  0.537  34  1
12  10  139.0  80.000000  29.15342  155.548223  27.100000  1.441  57  0
13   1  189.0  60.000000  23.00000  846.000000  30.100000  0.398  59  1
14   5  166.0  72.000000  19.00000  175.000000  25.800000  0.587  51  1
15   7  100.0  72.405184  29.15342  155.548223  30.000000  0.484  32  1
16   0  118.0  84.000000  47.00000  230.000000  45.800000  0.551  31  1
17   7  107.0  74.000000  29.15342  155.548223  29.600000  0.254  31  1
18   1  103.0  30.000000  38.00000   83.000000  43.300000  0.183  33  0
19   1  115.0  70.000000  30.00000   96.000000  34.600000  0.529  32  1

In [15]:
# example of imputing missing values using scikit-learn
from numpy import nan
from numpy import isnan
from pandas import read_csv
from sklearn.impute import SimpleImputer
# load the dataset
dataset = read_csv('pima-indians-diabetes.csv', header=None)
# mark zero values as missing or NaN
dataset[[1,2,3,4,5]] = dataset[[1,2,3,4,5]].replace(0, nan)
# retrieve the numpy array
values = dataset.values
# define the imputer
imputer = SimpleImputer(missing_values=nan, strategy='mean')
# transform the dataset
transformed_values = imputer.fit_transform(values)
# count the number of NaN values in each column
print(f'Missing: {isnan(transformed_values).sum()}')
print(transformed_values[:20])

Missing: 0
[[6.00000000e+00 1.48000000e+02 7.20000000e+01 3.50000000e+01
  1.55548223e+02 3.36000000e+01 6.27000000e-01 5.00000000e+01
  1.00000000e+00]
 [1.00000000e+00 8.50000000e+01 6.60000000e+01 2.90000000e+01
  1.55548223e+02 2.66000000e+01 3.51000000e-01 3.10000000e+01
  0.00000000e+00]
 [8.00000000e+00 1.83000000e+02 6.40000000e+01 2.91534196e+01
  1.55548223e+02 2.33000000e+01 6.72000000e-01 3.20000000e+01
  1.00000000e+00]
 [1.00000000e+00 8.90000000e+01 6.60000000e+01 2.30000000e+01
  9.40000000e+01 2.81000000e+01 1.67000000e-01 2.10000000e+01
  0.00000000e+00]
 [0.00000000e+00 1.37000000e+02 4.00000000e+01 3.50000000e+01
  1.68000000e+02 4.31000000e+01 2.28800000e+00 3.30000000e+01
  1.00000000e+00]
 [5.00000000e+00 1.16000000e+02 7.40000000e+01 2.91534196e+01
  1.55548223e+02 2.56000000e+01 2.01000000e-01 3.00000000e+01
  0.00000000e+00]
 [3.00000000e+00 7.80000000e+01 5.00000000e+01 3.20000000e+01
  8.80000000e+01 3.10000000e+01 2.48000000e-01 2.60000000e+01
  1.00000000e+00]
 [1.00000000e+01 1.15000000e+02 7.24051842e+01 2.91534196e+01
  1.55548223e+02 3.53000000e+01 1.34000000e-01 2.90000000e+01
  0.00000000e+00]
 [2.00000000e+00 1.97000000e+02 7.00000000e+01 4.50000000e+01
  5.43000000e+02 3.05000000e+01 1.58000000e-01 5.30000000e+01
  1.00000000e+00]
 [8.00000000e+00 1.25000000e+02 9.60000000e+01 2.91534196e+01
  1.55548223e+02 3.24574637e+01 2.32000000e-01 5.40000000e+01
  1.00000000e+00]
 [4.00000000e+00 1.10000000e+02 9.20000000e+01 2.91534196e+01
  1.55548223e+02 3.76000000e+01 1.91000000e-01 3.00000000e+01
  0.00000000e+00]
 [1.00000000e+01 1.68000000e+02 7.40000000e+01 2.91534196e+01
  1.55548223e+02 3.80000000e+01 5.37000000e-01 3.40000000e+01
  1.00000000e+00]
 [1.00000000e+01 1.39000000e+02 8.00000000e+01 2.91534196e+01
  1.55548223e+02 2.71000000e+01 1.44100000e+00 5.70000000e+01
  0.00000000e+00]
 [1.00000000e+00 1.89000000e+02 6.00000000e+01 2.30000000e+01
  8.46000000e+02 3.01000000e+01 3.98000000e-01 5.90000000e+01
  1.00000000e+00]
 [5.00000000e+00 1.66000000e+02 7.20000000e+01 1.90000000e+01
  1.75000000e+02 2.58000000e+01 5.87000000e-01 5.10000000e+01
  1.00000000e+00]
 [7.00000000e+00 1.00000000e+02 7.24051842e+01 2.91534196e+01
  1.55548223e+02 3.00000000e+01 4.84000000e-01 3.20000000e+01
  1.00000000e+00]
 [0.00000000e+00 1.18000000e+02 8.40000000e+01 4.70000000e+01
  2.30000000e+02 4.58000000e+01 5.51000000e-01 3.10000000e+01
  1.00000000e+00]
 [7.00000000e+00 1.07000000e+02 7.40000000e+01 2.91534196e+01
  1.55548223e+02 2.96000000e+01 2.54000000e-01 3.10000000e+01
  1.00000000e+00]
 [1.00000000e+00 1.03000000e+02 3.00000000e+01 3.80000000e+01
  8.30000000e+01 4.33000000e+01 1.83000000e-01 3.30000000e+01
  0.00000000e+00]
 [1.00000000e+00 1.15000000e+02 7.00000000e+01 3.00000000e+01
  9.60000000e+01 3.46000000e+01 5.29000000e-01 3.20000000e+01
  1.00000000e+00]]

In [20]:
# example of imputing missing values using KNN imputer
from numpy import nan
from numpy import isnan
from pandas import read_csv
from sklearn.impute import KNNImputer
# load the dataset
dataset = read_csv('pima-indians-diabetes.csv', header=None)
# mark zero values as missing or NaN
dataset[[1,2,3,4,5]] = dataset[[1,2,3,4,5]].replace(0, nan)
# retrieve the numpy array
values = dataset.values
# define the imputer
imputer = KNNImputer(n_neighbors=4)
# transform the dataset
transformed_values = imputer.fit_transform(values)
# count the number of NaN values in each column
print(f'Missing: {isnan(transformed_values).sum()}')
print(transformed_values[:20])

Missing: 0
[[6.0000e+00 1.4800e+02 7.2000e+01 3.5000e+01 1.7950e+02 3.3600e+01
  6.2700e-01 5.0000e+01 1.0000e+00]
 [1.0000e+00 8.5000e+01 6.6000e+01 2.9000e+01 6.1000e+01 2.6600e+01
  3.5100e-01 3.1000e+01 0.0000e+00]
 [8.0000e+00 1.8300e+02 6.4000e+01 2.8750e+01 1.6375e+02 2.3300e+01
  6.7200e-01 3.2000e+01 1.0000e+00]
 [1.0000e+00 8.9000e+01 6.6000e+01 2.3000e+01 9.4000e+01 2.8100e+01
  1.6700e-01 2.1000e+01 0.0000e+00]
 [0.0000e+00 1.3700e+02 4.0000e+01 3.5000e+01 1.6800e+02 4.3100e+01
  2.2880e+00 3.3000e+01 1.0000e+00]
 [5.0000e+00 1.1600e+02 7.4000e+01 2.0750e+01 1.0675e+02 2.5600e+01
  2.0100e-01 3.0000e+01 0.0000e+00]
 [3.0000e+00 7.8000e+01 5.0000e+01 3.2000e+01 8.8000e+01 3.1000e+01
  2.4800e-01 2.6000e+01 1.0000e+00]
 [1.0000e+01 1.1500e+02 7.3000e+01 3.6250e+01 1.4100e+02 3.5300e+01
  1.3400e-01 2.9000e+01 0.0000e+00]
 [2.0000e+00 1.9700e+02 7.0000e+01 4.5000e+01 5.4300e+02 3.0500e+01
  1.5800e-01 5.3000e+01 1.0000e+00]
 [8.0000e+00 1.2500e+02 9.6000e+01 2.5250e+01 1.6975e+02 3.3675e+01
  2.3200e-01 5.4000e+01 1.0000e+00]
 [4.0000e+00 1.1000e+02 9.2000e+01 3.0750e+01 1.4575e+02 3.7600e+01
  1.9100e-01 3.0000e+01 0.0000e+00]
 [1.0000e+01 1.6800e+02 7.4000e+01 3.5750e+01 1.5200e+02 3.8000e+01
  5.3700e-01 3.4000e+01 1.0000e+00]
 [1.0000e+01 1.3900e+02 8.0000e+01 2.1500e+01 1.7375e+02 2.7100e+01
  1.4410e+00 5.7000e+01 0.0000e+00]
 [1.0000e+00 1.8900e+02 6.0000e+01 2.3000e+01 8.4600e+02 3.0100e+01
  3.9800e-01 5.9000e+01 1.0000e+00]
 [5.0000e+00 1.6600e+02 7.2000e+01 1.9000e+01 1.7500e+02 2.5800e+01
  5.8700e-01 5.1000e+01 1.0000e+00]
 [7.0000e+00 1.0000e+02 6.9000e+01 2.8000e+01 7.7000e+01 3.0000e+01
  4.8400e-01 3.2000e+01 1.0000e+00]
 [0.0000e+00 1.1800e+02 8.4000e+01 4.7000e+01 2.3000e+02 4.5800e+01
  5.5100e-01 3.1000e+01 1.0000e+00]
 [7.0000e+00 1.0700e+02 7.4000e+01 3.3000e+01 1.1025e+02 2.9600e+01
  2.5400e-01 3.1000e+01 1.0000e+00]
 [1.0000e+00 1.0300e+02 3.0000e+01 3.8000e+01 8.3000e+01 4.3300e+01
  1.8300e-01 3.3000e+01 0.0000e+00]
 [1.0000e+00 1.1500e+02 7.0000e+01 3.0000e+01 9.6000e+01 3.4600e+01
  5.2900e-01 3.2000e+01 1.0000e+00]]